@font-face {
	font-family: 'Akrobat';
	src: url('fonts/Akrobat-Regular.eot');
	src: url('fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Akrobat-Regular.woff2') format('woff2'),
		url('fonts/Akrobat-Regular.woff') format('woff'),
		url('fonts/Akrobat-Regular.ttf') format('truetype'),
		url('fonts/Akrobat-Regular.svg#Akrobat-Regular') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('fonts/Akrobat-Bold.eot');
	src: url('fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Akrobat-Bold.woff2') format('woff2'),
		url('fonts/Akrobat-Bold.woff') format('woff'),
		url('fonts/Akrobat-Bold.ttf') format('truetype'),
		url('fonts/Akrobat-Bold.svg#Akrobat-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

$font-akrobat: 'Akrobat', sans-serif;