footer {
	text-align: center;
	background-color: $color-white;
	padding: 10px;
	position: relative;
	z-index: 2;

	p {
		margin: 0;
		text-transform: uppercase;
	}

	@media #{$media-small-down} {
		margin-bottom: 50px;
	}
}