header {
	padding: 15px 15px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: $color-white;
	@include box-shadow(0px,0px,10px,rgba(0,0,0,0.1));
	@include transition(0.3s);

	@media #{$media-medium-up} {

		> div {
			@include flexbox();
            @include justify-content(space-between);
            
            &:before {
                display: none !important;
            }
            &:after {
                display: none !important;
            }

            /*.logo-link {
                @include align-self(flex-start);
            }

            .menu-main-menu-container {
                @include align-self(center);
            }*/
		}
	}
}