.main {
	position: relative;
	z-index: 1;
	background-color: $color-white;
}

.flex-center-v {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
}